body{
    background-color: #232323;
    background: linear-gradient(#232323,#0a4b34);
}
.top{
    height: fit-content;
    width: 95%;
    background-color: #138f63;
    display: flex;
    padding-right: 5%;
    border-radius: 2rem;
    justify-content: space-between;
}  


.top .home{
    display: flex;
    width: fit-content;
    height: 12vh;
    margin: 2%;
    padding: 10px;
    border-radius: 2rem;
    background-color: #565656;
}

.top .home img{
    border-radius: 50%;
    margin-right:10px;
    align-self: center;
}

.top .home h1{
    color: rgb(207, 203, 203);
    font-size: 35;
    font-family:monospace;
    font-weight: bold;
}
.top .nav{
    margin-top: 4%;
}
.top .nav label {
    color: 28ffb4;
    font-size: 35;
    font-family: monospace;
    font-weight: 600;
}
.top .nav label a{
    color: 28ffb4;    
    font-size: 35;
    font-family: monospace;
    font-weight: 600;
    text-decoration: none;    
}
.mid {
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.mid img{
    border-radius: 2rem;
    opacity: 0.7;
    transition: linear 0.7s;
}
.mid img:hover{
    opacity: 1;
    transition: linear 0.7s;
}